body {
    background-color:#E5DADA;
    border-style: groove;
    border-color: #E59500;
}

h1 {
    color:#02040F;
}

nav {
    background-color: #E5DADA;
    border: #E59500;
    border-style: ridge;
}

img {
    max-width: 50%;
}
